:root {
  --primary-color: #ffdb1f;
  --secondary-color: #04c3ff;
}

body {
  background-color: black;
  background-size: 80px 80px;
  background-image: radial-gradient(
    circle,
    var(--primary-color) 1px,
    rgba(0, 0, 0, 0) 1px
  );
}

h1 {
  color: var(--primary-color);
}

.weather-app-container {
  max-width: 600px;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 0;
}

.forecast-container {
  background-color: black;
}
