:root {
  --primary-color: #ffdb1f;
  --secondary-color: #04c3ff;
  --changa-font: "Changa", sans-serif;
  --monda-font: "Monda", sans-serif;
}

body {
  background-color: black;
  background-size: 80px 80px;
  background-image: radial-gradient(
    circle,
    var(--primary-color) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  font-family: "Monda", sans-serif;
  color: black;
}

h1 {
  color: var(--primary-color);
  font-family: var(--changa-font);
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 30px;
}

h2.city {
  font-weight: bold;
  font-size: 34px;
}

.weather-app-container {
  max-width: 600px;
  border: 2px solid var(--secondary-color);
  background-color: var(--primary-color);
  padding: 0;
}

input[type="text"] {
  width: 426px;
  background-color: transparent;
  border: 2px solid black;
}
::placeholder {
  color: black;
  opacity: 0.6;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}
button {
  background-color: transparent;
  border: 2px solid black;
}

p.weather-date {
  font-size: 20px;
  margin: 0;
}
p.weather-description {
  font-size: 20px;
}

.main-weather-icon {
  font-size: 80px;
  margin-right: 45px;
}
h2.main-temp {
  font-size: 70px;
}
.temp-conversion {
  font-size: 30px;
  margin-left: 8px;
  position: relative;
  bottom: 10px;
}
a.fahrenheit-link,
a.celsius-link {
  color: black;
}
a.fahrenheit-link:hover,
a.celsius-link:hover {
  opacity: 0.6;
  text-decoration: none;
}
.vertical-line {
  border-left: 1px solid black;
  height: 100px;
  margin: 0 45px;
}
p.weather-extra {
  margin: 0;
}

.forecast-container {
  background-color: black;
  color: white;
  padding: 12px 0;
}
p.forecast-day {
  margin: 0;
  padding-bottom: 8px;
}
p.forecast-temp {
  margin: 0;
  padding-top: 8px;
}
.col {
  margin: 0 12px;
}
.vert-line {
  border-left: 1px solid var(--primary-color);
  height: 100%;
}
